:root {
  --brand-color: #9333EA;
  --brand-color-light: #A855F7;

  --gray-900: #111827;
  --gray-800: #1F2937;
  --gray-700: #374151;
  --gray-600: #4B5563;
  --gray-500: #6B7280;
  --gray-400: #9CA3AF;
  --gray-300: #D1D5DB;
  --gray-200: #E5E7EB;
  --gray-100: #F3F4F6;
  --gray-50: #F9FAFB;

  --status-success: #6EE7B7;
  --status-error: #FB7185;
}

body,
main,
section,
p,
input,
button {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: var(--gray-900);
  min-height: 100vh;
}

main {
  background-color: var(--gray-800);
  padding: 64px 0 0;
  min-height: 100%;
}

main form {
  padding: 32px 24px;
  display: grid;
  gap: 48px;
  margin-bottom: 44px;
}

/* =====  CREDIT CARD SECTION ===== */
main form section#credit-card {
  margin-top: 72px;
  width: 280px;
  height: 168px;
  perspective: 600px;
  margin: 0 auto;
}

main form section#credit-card div {
  height: inherit;
  width: inherit;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;

  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

main form section#credit-card .front {
  background: url(./assets/cc-front.png) no-repeat;
  transform: rotateY(0);
}

main form section#credit-card .back {
  background: url(./assets/cc-back.png) no-repeat;
  transform: rotateY(-180deg);
}

main form section#credit-card:active .front,
main form section#credit-card:hover .front {
  transform: rotateY(180deg);
}

main form section#credit-card:active .back,
main form section#credit-card:hover .back {
  transform: rotateY(0deg);
}

/* =====  INPUTS SECTION ===== */
main form section#inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

main form section#inputs .input-wrapper {
  display: grid;
  gap: 4px;
  width: 100%;
}

main form section#inputs .input-wrapper label {
  color: var(--gray-200);
  font-weight: 600;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 4px;
}

main form section#inputs .input-wrapper input {
  font-size: 16px;
  color: var(--gray-100);
  background-color: var(--gray-900);
  border: 1px solid var(--gray-700);
  border-radius: 4px;
  padding: 12px;
  outline: 0;
  width: 100%;
}

main form section#inputs .input-wrapper input:hover {
  border: 1.5px solid var(--gray-600);
}

main form section#inputs .input-wrapper input:focus {
  border: 1.5px solid var(--brand-color);
}

main form section#inputs .input-wrapper input:invalid:focus {
  border: 1.5px solid var(--status-error);
}

main form section#inputs .input-wrapper input+.warning {
  display: none;
}

main form section#inputs .input-wrapper input:invalid:focus+.warning {
  color: var(--status-error);
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 4px;
  margin-top: 4px;
}

main form section#inputs .two-inputs-container {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

main form section#inputs .two-inputs-container .input-wrapper:nth-child(2) {
  flex-basis: 130px;
}

/* =====  SAFE INFO SECTION ===== */
main form section#safe-info {
  color: var(--gray-200);
  font-size: 14px;
}

main form section#safe-info p {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

/* =====  SAFE INFO SECTION ===== */
main section#button {
  padding: 24px;
}

main section#button button {
  color: var(--gray-50);
  font-size: 18px;
  font-weight: 600;
  width: 100%;
  background-color: var(--brand-color);
  border-radius: 4px;
  border: none;
  padding: 16px 0;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  outline: none;
  transition: background .5s;
  cursor: pointer;
}

main section#button button:hover {
  background-color: var(--brand-color-light);
}

main section#button button:focus {
  outline: solid var(--gray-50) 2px;
  outline-offset: 5px;
}

main section#button button:disabled {
  filter: opacity(0.5);
}

@media (min-width: 730px) {
  body {
    display: grid;
    place-items: center;
  }

  main {
    padding: 32px;
    width: 730px;
    min-height: initial;
  }

  main form {
    padding: 0;
    grid-template-areas:
      "inputs credit-card"
      "inputs safe-info";
    gap: 32px 64px;
    gap: 0px 64px;
    align-items: center;
    margin-bottom: 48px;
  }

  main form section#credit-card {
    grid-area: credit-card;
  }

  main form section#inputs {
    grid-area: inputs;
  }

  main form section#safe-info {
    grid-area: safe-info;
  }

  main section#button {
    padding: 0;
  }
}