$cor-rosa: rgba(255, 45, 175, 1);
$cor-roxo: rgba(131, 35, 255, 1);
$cor-cinza-dark: rgba(30, 31, 40, 1);
$cor-cinza: rgba(43, 43, 55, 1);
$cor-cinza-medio: rgba(55, 55, 69, 1);
$cor-cinza-light: rgba(139, 141, 155, 1);
$cor-branco: rgba(255, 255, 255, 1);
$cor-amarelo: rgba(254, 234, 53, 1);
$gradiente-normal: linear-gradient(90deg, #8323FF 0%, #FF2DAF 100%);
$gradiente-hover: linear-gradient(90deg, #9F55FF 0%, #FF46B9 100%);

body,
div,
header,
main,
button,
img,
i,
span,
ul,
li,
h2 {
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

body {
    background: $gradiente-hover;
    min-height: 100vh;
    padding: 20px;
    display: grid;
    place-content: center;
    width: 100vw;
}

#app {
    background-color: $cor-cinza-dark;
    border-radius: 16px;
    box-shadow: 0px -3px 22px 0px rgba(0, 0, 0, 0.35);
    padding: 64px 96px;
    display: grid;
    gap: 36px;
    max-width: 846px;
    position: relative;

    &::before {
        content: "";
        background: linear-gradient(135deg, #C497FF, #9747FF);
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: -1;
        padding: 8px;
        border-radius: 16px;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
    }

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px;

        .logo {
            height: 44px;
            width: 85px;
        }

        button {
            color: $cor-branco;
            background: $gradiente-normal;
            border: none;
            display: flex;
            padding: 8px 16px;
            align-items: center;
            gap: 8px;
            border-radius: 4px;
            cursor: pointer;
            transition: .3s;

            &:hover {
                background: $gradiente-hover;
            }

            i {
                font-size: 18px;
                background-color: rgba(255, 255, 255, 0.2);
                border-radius: 50%;
                padding: 7px;
            }
        }
    }

    main {
        max-width: calc(100vw - 120px);

        #movies {
            display: grid;
            grid-auto-flow: column;
            gap: 36px;
            overflow-x: scroll;
            overflow-y: hidden;

            .movie {
                &:nth-child(1) {
                    --delay: 0.6s;
                }

                &:nth-child(2) {
                    --delay: 1.2s;
                }

                &:nth-child(3) {
                    --delay: 1.8s;
                }

                @keyframes appear {
                    from {
                        opacity: 0;
                        transform: translateY(100px);
                    }
                }

                animation: appear var(--delay);
                display: grid;
                gap: 12px;

                .title {
                    display: flex;
                    align-items: center;
                    gap: 5px;

                    h2 {
                        width: 100%;
                        height: 40px;
                        max-width: 140px;
                        display: -moz-box;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        color: $cor-branco;
                        text-overflow: ellipsis;
                        font-size: 20px;
                        font-weight: 500;
                        line-height: 100%;
                    }

                    .stars {
                        display: flex;
                        gap: 4px;
                        color: $cor-amarelo;
                        font-size: 16px;
                        align-items: center;
                    }
                }

                .content {
                    display: grid;
                    gap: 8px;

                    .poster {
                        height: 282px;
                        width: 198px;
                        border-radius: 8px;
                    }

                    .info {
                        display: flex;
                        justify-content: space-between;

                        .duration,
                        .release {
                            color: $cor-cinza-light;
                            font-size: 12px;
                            display: flex;
                            align-items: center;
                            gap: 4px;

                            i {
                                font-size: 20px;
                            }
                        }
                    }

                    button {
                        background-color: $cor-cinza;
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 8px;
                        padding: 8px 16px;
                        border: none;
                        border-radius: 4px;
                        color: $cor-branco;
                        font-size: 16px;
                        cursor: pointer;
                        transition: 0.3s;

                        &:hover {
                            background: $cor-cinza-medio;
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 846px) {
    #app {
        padding: 64px 50px;
    }
}

@media(max-width: 426px) {
    #app {
        header {
            justify-content: center;
        }
    }
}